<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.github.cuonghuynh.weather">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:name="com.github.cuonghuynh.weather.utils.MyApplication"
        android:fullBackupContent="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBCHk19VPoZrGO4gA-Az0f4I4s65tnx308" />
        <activity
            android:name="com.github.cuonghuynh.weather.ui.activity.HourlyActivity"
            android:exported="true"
            android:theme="@style/TransitionTheme" />
        <activity
            android:name="com.github.cuonghuynh.weather.ui.activity.MainActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.MapActivity"
            android:label="Map"
            android:exported="true">
        </activity>
        <activity android:name="com.github.cuonghuynh.weather.ui.activity.BaseActivity" />
    </application>

</manifest>